<!-- Page Content -->
<div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron hero-spacer">

      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <%= image_tag('screenshot_warg.png', :class => "img-responsive center-image", :alt => 'Weekly Video') %>
            <button type="button" class="btn" data-toggle="modal" data-target="#videoModal">
                <span class="glyphicon glyphicon-play"></span>
            </button>
          </div>
        </div>
      </div>

      <p class="text-center">A new video tutorial every week! Short, sweet, and jammed with useful advice! Subscribe to get the FULL COLLECTION of past videos and support the project.</p>
      <p class="text-center"><a class="btn btn-primary btn-large">SUBSCRIBE</a>
      </p>
    </header>

    <hr>

                <!-- Title -->
                <div class="row">
                    <div class="row">
                        <div class="col-md-6">
                          <h3>Free Videos</h3>
                          <% @freevideos.each do |video| %>
                          <%= link_to(video) do %>
                                <div class="row">
                                    <div class="col-sm-2 col-xs-12">
                                      <img class="img-responsive" src="https://embed-ssl.wistia.com/deliveries/400841c93e1bcd040fea50f3e6ad3ff314e7a64e.jpg?image_crop_resized=200x120" alt="" width="100" height="60">
                                    </div>
                                    <div class="col-sm-9 col-xs-10">
                                        <h3 style="margin-top:0px"><%= video.title %><br></h3>
                                        <p class="text-muted"><small><span class="label label-danger">Pro Episode</span> 路 <strong>#120</strong> 路 <time datetime="2016-05-23T05:00:00Z" data-local="time" data-format="%b %d, %Y">May 23, 2016</time> </small></p>
                                        <p class="text-muted"><%= video.description %></p>
                                    </div>
                                </div>
                            <% end %>
                          <% end %>
                        </div>
                        <div class="col-md-6">
                          <h3>Videos for Supporters</h3>
                          <% @paidvideos.each do |video| %>
                          <%= link_to(video) do %>
                                <div class="row">
                                    <div class="col-sm-2 col-xs-12">
                                      <img class="img-responsive" src="https://embed-ssl.wistia.com/deliveries/400841c93e1bcd040fea50f3e6ad3ff314e7a64e.jpg?image_crop_resized=200x120" alt="" width="100" height="60">
                                    </div>
                                    <div class="col-sm-9 col-xs-10">
                                        <h3 style="margin-top:0px"><%= video.title %><br></h3>
                                        <p class="text-muted"><small><span class="label label-danger">Pro Episode</span> 路 <strong>#120</strong> 路 <time datetime="2016-05-23T05:00:00Z" data-local="time" data-format="%b %d, %Y">May 23, 2016</time> </small></p>
                                        <p class="text-muted"><%= video.description %></p>
                                    </div>
                                </div>
                              <% end %>
                            <% end %>
                        </div>
                    </div>
                    <div class="col-lg-12">
    </div>
                </div>
                <!-- /.row -->
                <!-- Page Features -->
                <div class="row text-center">
                    <div class="col-md-3 col-sm-6 hero-feature">
    </div>
                </div>
                <!-- /.row -->
                <hr>
                <!-- Footer -->
                <footer>
                    <div class="row">
                        <div class="col-lg-12">
                            <p>Copyright &copy; That's right. We teach awesomeness!2016</p>
                        </div>
                    </div>
                </footer>
            </div>
            <!-- /.container -->
