<div class="container">
   <div class="row">
       <div class="col-md-8">
          <h2><%= @video.title unless @video.title.nil? %>
            <% if signed_in? %>
              <% if current_user.admin? %>
                <%= link_to edit_video_path(@video), class: 'btn btn-primary' do %>
                  <span class="glyphicon glyphicon-info-edit"></span>
                  Edit
                <% end %>
              <% end %>
            <% end %>
          </h2>
           <p class="text-muted">
             <time datetime="<%= @video.date %>" itemprop="datePublished"><%= @video.date.to_formatted_s(:long) unless @video.date.nil? %></time>
             &middot;
             <%= @video.level.titlecase unless @video.level.nil? %>
             &middot;
             <%= @video.duration unless @video.duration.nil? %> minutes
             &middot;
             <%= @video.presenter unless @video.presenter.nil? %>
           </p>
           <script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js" async></script>
           <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
             <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
               <div class="wistia_embed wistia_async_<%= @video.wistia %> videoFoam=true" style="height:100%;width:100%">&nbsp;
               </div>
             </div>
           </div>
       </div>
       <div class="col-md-4">
          <% unless @relateds.empty? %>
            <h3 style="padding-left:35px;">Watch Next</h3>
            <ul>
            <% @relateds.each do |video| %>
              <%= render partial: 'whats_next', locals: {video: video} %>
            <% end %>
            </ul>
          <% end %>
        </div>
   </div>
</div>
<div class="container">
      <hr />
      <h3 class="text-muted">Overview</h3>
      <p><%= @video.description unless @video.description.nil? %></p>
      <hr />
      <h3 class="text-muted">Resources</h3>
      <ul>
      <% @video.resources.each do |resource| %>
      <li><%= link_to resource.text, resource.url %> <%=resource.description %></li>
      <% end %>
      </ul>
      <hr />
      <div id="disqus_thread"></div>
      <script>
          /**
           *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
           *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
           */
          /*
          var disqus_config = function () {
              this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
              this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
          };
          */
          (function() {  // DON'T EDIT BELOW THIS LINE
              var d = document, s = d.createElement('script');

              s.src = '//fullstackvideos.disqus.com/embed.js';

              s.setAttribute('data-timestamp', +new Date());
              (d.head || d.body).appendChild(s);
          })();
      </script>
</div>

<hr />
