<% if user_signed_in? %>
  <li><%= smart_link_to 'Subscription', edit_user_registration_path %></li>
  <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= smart_link_to 'Sign in', new_user_session_path %></li>
  <li><%= smart_link_to 'Subscribe', new_user_registration_path %></li>
  <li><%= smart_link_to 'FAQ', new_user_registration_path %></li>
<% end %>
<% if user_signed_in? %>
  <% if current_user.try(:admin?) %>
    <li><%= link_to 'Users', users_path %></li>
    <li><%= link_to 'Coupons', coupons_path %></li>
    <li><%= link_to 'Videos', videos_path %></li>
  <% end %>
<% end %>
<li><%= smart_link_to 'Suggestions', page_path('suggestions') %></li>
