<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Fullstack Video Tutorials" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Video Tutorials for Fullstack Developers. A weekly free video tutorial plus archived lessons for both beginners and professional developers." %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
    <% if user_signed_in? %>
      <script type="text/javascript">
        analytics.identify('<%= current_user.id %>', {
          name: '<%= current_user.name %>',
          email: '<%= current_user.email %>'
        });
      </script>
    <% end %>
  </body>
</html>
